.selectbuttonWidth {
  border: none;
  outline: none;
  height: 2rem;
  width: 13rem;
}
.searchbuttonwidth {
  width: 14.8rem !important;
  height: 2.4rem !important;
}

.selectbuttonborder {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  border: 1px solid #6b522d;
  outline: none;
  border-left: 0;
  span {
    display: none;
  }
}
.landingtopsection {
  margin-top: 0;
}

.border-none {
  border: none;
}

.top-landing {
  background: url(../Images//landing/topLandingImage.jpg) no-repeat 50%;
  background-size: 100% 100%;
}

.Chosemsi {
  background: url(../Images//landing/ChoseMusician.jpg) no-repeat 50%;
  background-size: 100% 100%;
}





.about-us {
  background: url(../Images//landing/ChoseMusician.jpg) no-repeat 50%;
  background-size: 100% 100%;
}

.about-us-box {
  /* border: 1px solid red; */
  text-align: center;
  color:#413f40;
}

.about-us-icons {
  /* border: 1px solid red; */
  display: grid;
  width: 60px;
  height: 60px;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 10px;
}





/* .firstcol::after {
  position: relative;
  content: "";
  top: calc(50% - 14rem);
  left: -25px;
  width: 0;
  height: 0;
  border-right: 27px solid #000;
  border-top: 36px solid transparent;
  border-bottom: 36px solid transparent;
  border-right-color: #c79c69;
} */
@media screen and (min-width: 1921px) {
  /* .firstcol::after {
    top: calc(50% - 27px);
    left: -50px;
    border-right-width: 52px;
    border-top-width: 70px;
    border-bottom-width: 70px;
  } */
}

.secondcol {
  background: #a88355;
}

.thirdcol {
  background: #8a6b41;
}

.fourthcol {
  background: #6b522d;
}

/* .secondcol::after {
  position: relative;
  content: "";
  top: calc(50% - 16rem);
  left: -25px;
  width: 0;
  height: 0;
  border-right: 27px solid #000;
  border-top: 36px solid transparent;
  border-bottom: 36px solid transparent;
  border-right-color: #b38758;
} */
/* .thirdcol::after {
  position: relative;
  content: "";
  top: calc(50% - 21rem);
  left: -25px;
  width: 0;
  height: 0;
  border-right: 27px solid #000;
  border-top: 36px solid transparent;
  border-bottom: 36px solid transparent;
  border-right-color: #9e6f43;
}
.fourthcol::after {
  position: relative;
  content: "";
  top: calc(50% - 23rem);
  left: -25px;
  width: 0;
  height: 0;
  border-right: 27px solid #000;
  border-top: 36px solid transparent;
  border-bottom: 36px solid transparent;
  border-right-color: #8c5c34;
} */
.services {
  width: 13rem;
  overflow-wrap: break-word;
}

.markte {
  background: #fff;
  border-radius: 88px;
  width: 7rem;
  height: 7rem;
  margin-top: 6rem;
  padding: 0.7rem;
  text-align: center;
  justify-items: center;
  display: grid;
}

.markte > img {
  width: 100%;
  height: 100%;
}

.servs {
  background: #fff;
  border-radius: 88px;
  width: 7rem;
  height: 7rem;
  margin-top: 6rem;
  padding: 0.7rem;
  text-align: center;
  justify-items: center;
  display: grid;
}

.servs > img {
  width: 100%;
  height: 100%;
}

.jobs {
  background: #fff;
  border-radius: 88px;
  width: 7rem;
  height: 7rem;
  margin-top: 5rem;
  padding: 0.7rem;
  text-align: center;
  justify-items: center;
  display: grid;
}

.jobs > img {
  width: 100%;
  height: 100%;
}

// .baner-box {
//   display: grid;
//   width: 300px;
//   /* transform: rotatez(270deg);

//   position: relative;
//   right: 81.7%;
//   top: 6%; */
//   position: absolute;
//   top: 8%;
//   left: 0;
//   transform: rotate(-90deg) translateX(-100%);
//   transform-origin: top left;
// }

// .baner-box-item {
//   box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
//   box-sizing: border-box;
// }

// .baner-box-item:hover {
//   box-shadow: inset 0 15px 100px -10px rgba(0, 0, 0, 0.4),
//     0 3px 10px 0 rgba(0, 0, 0, 0.4);
// }

// .baner-musice-box {
//   background: #898989;
//   width: 100%;
//   z-index: 10;
// }

// .baner-service-box {
//   background: #276e95;
//   width: 85%;
//   z-index: 8;
// }

// .baner-bands-box {
//   background: #58b04a;
//   width: 70%;
//   z-index: 5;
// }

/* @media screen and (max-width: 1200px) {
  .baner-box {
    width: 300px;
    transform: rotatez(270deg);
    position: relative;
    right: 79.6%;
    top: 5.9%;
  }
}

@media screen and (max-width: 990px) {
  .baner-box {
    width: 280px;
    transform: rotatez(270deg);
    position: relative;
    right: 76.3%;
    top: 4.9%;
  }
}*/

// @media screen and (min-width: 1370px) {
//   .baner-box {
//     top: 4%;
//   }
// }

// @media screen and (max-width: 1350px) {
//   .baner-box {
//     top: 4%;
//   }
// }

// @media screen and (max-width: 768px) {
//   .baner-box {
//     top: 12%;
//   }
// }
.thirdcol::after {
  content: "";
  display: block;
  width: 39px;
  height: 39px;
  /* margin: 13px -69px; */
  transform: rotate(45deg);
  background: #8a6b41;
  position: absolute;
  margin: -132px -31px;
}
.secondcol::after {
  content: "";
  display: block;
  width: 39px;
  height: 39px;
  /* margin: 13px -69px; */
  transform: rotate(45deg);
  background: #a88355;
  position: absolute;
  margin: 208px -31px;
}
.fourthcol::after {
  content: "";
  display: block;
  width: 39px;
  height: 39px;
  /* margin: 13px -69px; */
  transform: rotate(45deg);
  background: #6b522d;
  position: absolute;
  margin: -130px -31px;
}


.landing-top-drop-down-menu {
  width: 100% !important;
  border: 1px solid #6b522d;
  background: #8a6b41;
  text-align: left;
  button {
    color: #ffffff;
    border-bottom: 1px solid #6b522d;
    &:hover {
      background: #d0d0d1;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .landing-top-drop-down-input {
    height: 30px;
    border: 1px solid #67686a;
    padding: 10px 5px;
    font-size: medium;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
$bg-colorList:
    "first-bg" #c79c69,
    "second-bg" #A88355,
    "third-bg" #8a6b41,
    "fourth-bg" #6B522D
;
.main-content{
  .content{
  }
}  
  .category-holder{
      padding: 0;
      height: 18rem;
    }
      .secol {
        // border: 1px solid rgb(55, 143, 138);
        height: 100%;
        float: right;
        width:82%;
        .fullimage {
          width: 100%;
          height: 100%;
        }
      }
      .firstcol{
        transition: 1s;
          background:#c79c69;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        // border: 1px solid rgb(154, 204, 38);
                height: 100%;
        float: right;
        width:18%;
        
        &::after{
          transition: 1s;
          content: "";
          display: block;
          width: 39px;
          height: 39px;
          /* margin: 13px -69px; */
          transform: rotate(45deg);
          background: #c79c69;
          position: relative;
          right: 50%;
          bottom: 234%;
          
        }
      }
        .firstcol-img-box {
          background: #fff;
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
          border-radius: 100%;
          width: 5rem;
          height: 5rem;
          margin-top: 5rem;
          padding: 0.7rem;
          text-align: center;
          justify-items: center;
          display: grid;

          &:hover{
            box-shadow: 0 5px 115px 0 rgba(0, 0, 0, 0.25);
          }
          img{
             width: 100%;
            height: 100%;
          }
        }
        .services {
          width: 13rem;
          overflow-wrap: break-word;
          font-weight: 400;
          
          h4{
            font-size: medium !important;
            
          }
        }



@media screen and (max-width: 1155px){
  .secol {
        width:80% !important;
  }
  .firstcol{
    width:20% !important;
    &::after{
      right: 50% !important;
    }
  }
}
@media screen and (max-width: 1090px){
  .firstcol{
    &::after{
      width: 40px !important;
      height: 40px !important;
      right: 50% !important;
    }
  }
}
@media screen and (max-width: 1035px){
  .firstcol{
    &::after{
      right: 48% !important;
    }
  }
}
@media screen and (max-width: 990px){
      .category-holder{
        height:15rem !important;
      }
    .secol {
        width:80% !important;
  }
  .firstcol{
    width:20% !important;
    &::after{
      width: 40px !important;
      height: 40px !important;
      right: 43% !important;
      bottom: 262% !important;
    }
  }
  .firstcol-img-box {
          width: 4rem !important;
          height: 4rem !important;
  }
  .services {
          width: 11rem  !important;     
          margin-top: 15px !important;     
          h4{
            font-size: small !important;
            
          }
        }
        .about-us-box {
  font-size: media !important;
}
}
@media screen and (max-width: 815px){
  .firstcol{
    &::after{
      right: 38% !important;
    }
  }
}

@media screen and (max-width: 768px){
  .category-holder{
    height: 13rem !important;
  }
    .secol {
        width:100% !important;
        height:50%;
  }
  .firstcol{
    width:100% !important;
    height:50%;
    display: block;
    

    &::after{
      width: 38px !important;
      height: 38px !important;
      right: 45% !important;
      bottom: 0% !important;   
      top: 80% !important;   
      border: 1px solid #6b522d; 
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
    }
    &:hover::after{
      transition: 1s;
      transform: rotate(405deg) !important;
      top: 30% !important;   

    }
       
  }
  .firstcol-img-box {
     margin-top: 1.6rem !important;
     margin-right: 8rem !important;
          width: 3.5rem !important;
          height: 3.5rem !important;
          float: right;
  }
  .services {
    float: left;
          width: 9rem  !important;     
               margin-top: 1.6rem !important;
     margin-left: 8rem !important;    
          h4{
            font-size: small !important;
            
          }
        }

}


@media screen and (max-width: 576px){
  .firstcol-img-box {
     margin-top: 1.6rem !important;
     margin-right: 3rem !important;
          width: 3.5rem !important;
          height: 3.5rem !important;
          float: right;
  }
  .services {
    float: left;
          width: 9rem  !important;     
               margin-top: 1.8rem !important;
     margin-left: 3rem !important;    
          h4{
            font-size: small !important;
            
          }
        }
                  .about-us-box {
  font-size: small !important;
}
.about-us-icons {
  width: 50px;
  height: 50px;
  padding: 10px;
}

}
@media screen and (max-width: 375px){
  .firstcol-img-box {
     margin-top: 1.6rem !important;
     margin-right: 0.5rem !important;
          width: 3.5rem !important;
          height: 3.5rem !important;
          float: right;
  }
  .services {
    float: left;
          width: 9rem  !important;     
               margin-top: 1.8rem !important;
     margin-left: 0.5rem !important;    
          h4{
            font-size: small !important;
            
          }
        }
        .firstcol{
    width:100% !important;
    height:50%;
    display: block;
    

    &::after{
      width: 30px !important;
      height: 30px !important;
    }
       
  }

}





// @media screen and (max-width: 590px){
//   .firstcol{
//     &::after{
//       right: 37% !important;
//     }
//   }
// }