.profile {
  min-height: 800px;
}

.SideNave {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  z-index: 15;
  /* position: relative; */
}

.profile-bg {
  background: url("../Images/profile/background.webp") no-repeat 50%;
  background-size: 100% 100%;
}
.bg-white-profile {
  background: rgba(255, 255, 255, 0.878);
}

.identity {
  width: 32px;
  font-size: 14px;
  color: #929396;
  height: 144px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 6px;
  justify-content: center;
  border-top-left-radius: 5px;
}
.identity > p {
  transform: rotate(90deg);
  white-space: nowrap;
}
.bg_opa_white{
  background: #f5f6f69c  ;
}