.profile {
  // min-height: 800px;
  overflow: hidden;
}

.SideNave {

  z-index: 15;
  /* position: relative; */
  background: transparent !important;
}
.modoalbg{
  background: #5e5f61f0;
}
.profile-bg {
  background: url("../Images/profile/background.webp") no-repeat 50%;
  background-size: 100% 100%;
}
.bg-white-profile {
  background: rgba(255, 255, 255, 0.849);
}

.identity {
  width: 32px;
  font-size: 14px;
  color: #929396;
  height: 144px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 6px;
  justify-content: center;
  border-top-left-radius: 5px;
}
.identity > p {
  transform: rotate(90deg);
  white-space: nowrap;
}
.bg_opa_white{
  background: #f5f6f69c  ;
}
.profile-bg-scroll{

  overflow: hidden scroll;
    scrollbar-width: none;
    max-height: 1990px;
    border: 1px solid transparent;
}
  .profile-tab-content{
    height:2060px;
  }
@media screen and (max-width:540px){
  .profile-tab-content{
    height:2000px;
  }
  .profile-bg-scroll {
  max-height: 1900px;
}
}