.event-image-holder {
  width: 224px;
  height: 224px;
}
.event-image {
  width: 159px;
  height: 224px;
  object-fit: contain;
}
.bg-white-profile{
  background: rgba(255, 255, 255, 0.878);
}@media screen and (max-width: 990px) {

  .proflie-options-icon {
      width: 25px;
      height: 25px;
  }
}