
.table-holder {
    background: url(../../../Assets/Images/search/bg-table-search.png) no-repeat;
    background-position: center 30%;
    background-size: 40%;
    width:90%;
    margin: 2rem auto;
}

.table-box {
    border-radius: 10px;
    overflow: hidden;
}

.table-header {
    background-color: #e8e8e981 !important;
    border-top-left-radius: 20px !important;
    border-radius: 10% !important;
}

.table-header-tr {
    font-size: medium;
    font-weight: 600;
    text-align: center;
    color: #929396 !important;
    font-size: 0.75rem;
}

.table-header-th {
    border: none !important;

}

.table-body {
    background: #ffffffa4 !important;
}


.table-body-tr {
    text-align: center;
    color: #4b4a4c;
    font-size: 0.9rem;
    border-bottom: 1px solid #929396  !important;

    &:last-child{
        border-bottom: none !important;
    }

}

.table-body-td {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    border:none!important;
}



.table-body-pic-box {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fefefe;
    height: 4rem !important;
    width: 4rem !important;


}

.table-body-icon-box {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fefefe;
    height: 4rem !important;
    width: 4rem !important;
    padding: 1.1rem;

}

.table-body-pic {
    border-radius: 10px;
}

.table-body-badge {
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
}
.table-pagination {
    height: 60px;
    color: #929396;
}


.page-prev {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-radius: 100%;
}

.page-button {
    transition: 0.5s;
    border: 2px solid #929396;
    border-radius: 5px;
    background: #ffffff;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    line-height: 1.8rem;
    cursor: pointer;

    &:hover{
        transition: 0.5s;
        color: #ffffff;
        background:#929396;
    }

    a{
        display: block;
        width: 100%;
    }
}
.page-active{
            color: #ffffff;
        background:#929396;
}

@media screen and (max-width:990px){
    .table-header-tr{
            font-size: 12px !important;
    font-weight: 400;
    }
.table-body-tr{
    font-size: small;
    font-weight: 400;
}
}
@media screen and (max-width:768px){
    .table-header-tr{
            font-size: 12px !important;
    font-weight: 400;
    }
.table-body-tr{
    font-size: small;
    font-weight: 400;
}
.table-body-pic-box {
    border-radius: 10px;
    height: 3rem !important;
    width: 3rem !important;


}

.table-body-icon-box {
    border-radius: 10px;
    height: 3rem !important;
    width: 3rem !important;
    padding: 0.6rem;
    

}
}