
.table-holder {
    /* border: 1px solid red; */
    height: 200px;
    background: url(../../../Assets/Images/search/bg-table-search.png) no-repeat;
    background-position: center 30%;
    background-size: 40%;
    min-height: 500px;
}

.table-box {
    /* background: rgb(172, 134, 134); */
    /* box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid red; */

}

.table-header {
    /* border: 1px solid red; */
    background-color: #e8e8e981 !important;
    border-top-left-radius: 20px !important;
    border-radius: 10% !important;
}

.table-header-tr {
    font-size: medium;
    font-weight: 600;
    text-align: center;
    color: #929396 !important;
    font-size: 0.75rem;
}

.table-header-th {
    border: none !important;

}

.table-body {
    background: #ffffffa4 !important;
    /* border-bottom-left-radius: 20px !important;
    overflow: hidden; */
    /* padding-left: 0.5rem !important;
    padding-right: 0.5rem !important; */
}


.table-body-tr {
    text-align: center;
    color: #4b4a4c;
    font-size: 0.9rem;

}

.table-body-td {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    /* background: #ffffffa4; */
}

.table-body-td:first-child {
    /* padding-right: 0.25rem !important; */
    /* border-bottom-right-radius: 10px; */
}

/* 
.table-body-td:last-child {
    padding-right: 0.25rem !important;
    border-bottom-left-radius: 10px;
} */


.table-body-pic-box {
    /* border: 1px solid red; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fefefe;
    height: 4rem !important;
    width: 4rem !important;


}

.table-body-icon-box {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fefefe;
    height: 4rem !important;
    width: 4rem !important;
    padding: 1.1rem;

}

.table-body-pic {
    border-radius: 10px;
}

.table-body-badge {
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
}
.table-pagination {
    /* border: 1px solid red; */
    height: 60px;
    color: #929396;
}

.pagination-holder {
    /* border: 1px solid red; */
}

.page-prev {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-radius: 100%;
}

.page-button {
    transition: 0.5s;
    border: 2px solid #929396;
    border-radius: 5px;
    background: #ffffff;
    // padding: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    font-weight: bold;
    font-size: large;
    line-height: 2.2rem;
    cursor: pointer;

    &:hover{
        transition: 0.5s;
        color: #ffffff;
        background:#929396;
    }
}