

.top-section {
    margin-top: 0;
    border: 1px solid transparent;
}

    .search-TopCenter-option {
        border: 1px solid transparent;
        margin-top: 12rem;

    }

.selectbuttonWidth {
    border: none;
    outline: none;
      height: 2rem;
  width: 13rem;

}
.search-buttonWidth {
  width: 14.8rem !important;
  height: 2.4rem !important;
    outline: none;

}

.selectbuttonborder {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    outline: none;
    border-left: 0;
    span{
        display:none;
    }
}

.top-drop-down-menu{
    width:100% !important;
    border: 1px solid #67686a;
    background:#818385 !important;
    text-align: left;
     button{
        
         color:#ffffff;
        border-bottom: 1px solid #67686a ;
         &:hover{
             background: #d0d0d1;
         }
         &:last-child{
                     border-bottom: none ;

         }
     }
     .top-drop-down-input{
         height:35px;
         border: 1px solid #67686a;
         padding: 10px 5px;
         font-size: medium;
         &:focus{
             outline: none;
             box-shadow: none;
         }
     }
}


@media screen and (max-width:768px) {
 .search-TopCenter-option{
     margin-top: 14rem;
     h2{
         font-size: large;
         margin-bottom: 1rem;
     }
 }
}
@media screen and (max-width:510px) {

    .search-TopCenter-option {
        margin-top: 20rem;
    }
}

