

.top-section {
    margin-top: 0;
    border: 1px solid transparent;
}

    .search-TopCenter-option {
        border: 1px solid transparent;
        margin-top: 12rem;

    }

.selectbuttonWidth {
    width: 9.5rem;
    /* border: 1px solid #67686a; */
    outline: none;

}
.search-buttonWidth {
    width: 12rem;
    /* border: 1px solid #67686a; */
    outline: none;

}

.selectbuttonborder {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    /* border: 1px solid #67686a; */
    padding: 0 0.8rem;
    outline: none;
    border-left: 0;
    span{
        display:none;
    }
}

.top-drop-down-menu{
    width:100% !important;
    border: 1px solid #67686a;
    background:#818385;
    text-align: left;
     button{
        
         color:#ffffff;
        border-bottom: 1px solid #67686a ;
         &:hover{
             background: #d0d0d1;
         }
         &:last-child{
                     border-bottom: none ;

         }
     }
     .top-drop-down-input{
         height:35px;
         border: 1px solid #67686a;
         padding: 10px 5px;
         font-size: medium;
         &:focus{
             outline: none;
             box-shadow: none;
         }
     }
}


@media screen and (max-width:768px) {
 .search-TopCenter-option{
     margin-top: 14rem;
     h2{
         font-size: large;
         margin-bottom: 1rem;
     }
 }
}
@media screen and (max-width:640px) {

    // .search-TopCenter-option {
    //     margin-top: 20rem;
    // }
}
@media screen and (max-width:510px) {

    // .top-SearchPage {
    //     height: 45rem
    // }
    .search-TopCenter-option {
        margin-top: 20rem;
    }
        // .search-TopCenter-option {
    //     margin-top: 20rem;
    // }
}
@media screen and (max-width:470px) {
    // .search-TopCenter-option {
    //     margin-top: 20rem;
    // }

    // .search-TopCenter-option {
    //     
    // }
}
@media screen and (max-width:470px) {
    // .search-TopCenter-option {
    //     margin-top: 20rem;
    // }
 
    // .search-TopCenter-option {
    //     
    // }
}
