.top-SearchPage {
    min-height: 30rem;
    background: url(../../Assets/Images/search/search-bg-sm.png) no-repeat 50%;
    background-size: cover;
}

.landingtopsection {
    margin-top: 0;
    border: 1px solid transparent;
}

.selectbuttonWidth {
    width: 9.5rem;
    /* border: 1px solid #67686a; */
    outline: none;

}

.selectbuttonborder {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    /* border: 1px solid #67686a; */
    padding: 0 0.8rem;
    outline: none;
    border-left: 0;
}

.Chosemsi {
    background: url(../../Assets/Images/landing/ChoseMusician.jpg) no-repeat 50%;
    background-size: 100% 100%;
    position: relative;
    min-height: 800px;
    border: 1px solid transparent;
}

@media screen and (max-width: 990px){
    .Chosemsi {
        min-height:1000px;
    }

}
@media screen and (max-width: 640px){
    .top-SearchPage{
        // min-height: 38rem;
    }

}
@media screen and (max-width: 576px){
    .Chosemsi {
        min-height:1300px;
    }
    .top-SearchPage{
        min-height: 48rem;
    }

}
@media screen and (max-width: 470px){
    .Chosemsi {
        min-height:1600px;
    }
        .top-SearchPage{
        height: 44rem;
    }

}
// @media screen and (max-width: 375px){
//     .Chosemsi {
//         min-height:1600px;
//     }

// }