.nav-container {
    padding: 0;
}

.header {
    height: 55px;
    padding: 7px 15px;
    background: #fff;
    z-index: 20;
    position: relative;
    box-shadow: 0 4px 15px 1px rgba(26, 26, 26, 0.4);
    box-sizing: border-box;
    position: relative;
}

.header-container {
    /* border: 1px solid red; */
    height: 40px;
    position: relative;
}

.header-options {
    width: 85%;
    /* height: 100%; */
    float: right;
    box-sizing: border-box;
    /* border: 1px solid rgb(25, 0, 255); */
}

.menu {
    float: right;
}

.menu:hover {
    opacity: 0.5;
}

.menu-iconBox {
    /* border: 1px solid rgb(0, 255, 34); */
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    /* margin-top: 1%; */
    text-align: center;

    float: right;
    padding: 11px 0;
}

.menu-icon {
    /* margin-top: 1px; */
}

.header-auth-box {
    /* border: 1px solid red; */

    margin-right: 15px;
    width: 12%;
    float: right;
}

.header-auth-icon {
    float: right;

}



.img {
    width: 35px;
    height: 35px;
}

.search-box {
    /* border: 1px solid red; */
    float: right;
    width: 50%;
    margin-top: 2px;
}

.search-box-input {
    margin-top: 2px;
    width: 80%;
    height: 30px;
    float: right;
    border-radius: 100px;
    background-color: #f5f5f5;
    font-weight: bold;
}

.search-box-input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.search-box-icon {
    float: right;
}

.image {

    width: 40px;
    height: 40px;
}

.header-logo {
    /* border: 1px solid red; */
    width: 132.5px;
    height: 40px;
    float: left;
}

.logoImg {
    width: 100%;
    height: 100%;
}

@media (max-width: 990px) {
    .header-profile-box {
        width: 25%;

    }
}

@media (max-width: 768px) {
    .header {
        min-height: 70px !important;
        height: auto !important;
        padding: 0px !important;
        position: relative !important;
        z-index: 999;
    }

    .header-container {
        height: 150px !important;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.4);
    }

    .header-logo {
        height: 80px;
        float: none !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        position: relative !important;
        z-index: 9999999999;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.4);
    }

    .header-options {
        margin: 2% 4%;
        /* border: 1px solid red; */
        width: 95%;
    }

    .header-auth-box {
        width: 18%;
    }

    .search-box {
        width: 60%;
    }

    .logoImg {
        width: 90%;
        height: 90%;
    }

    .header-profile-box {
        width: 22%;

    }

}

@media (max-width: 576px) {

    .header-auth-box {
        width: 22%;
    }

    .search-box {
        width: 60%;
    }

    .header-profile-box {
        width: 30%;

    }

    .menu-iconBox {
        /* border: 1px solid rgb(0, 255, 34); */
        width: 28px;
        height: 28px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
        margin-top: 10px;
        text-align: center;

        float: right;
        padding: 7px 0;
    }
}

@media (max-width: 470px) {

    .header-auth-box {
        width: 22%;
    }

    .search-box {
        width: 55%;
    }

    .header-profile-box {
        width: 30%;

    }

    .img {
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 375px) {
    .header-options {
        margin: 2% 4%;
        /* border: 1px solid red; */
        width: 98%;
    }

    .header-auth-box {
        margin-top: 5px;
        margin-right: 15px;
        width: 22%;
    }

    .header-profile-box {
        width: 33%;
        margin-top: 5px;
        margin-right: 5px;

    }

    .search-box {
        width: 55%;
    }

    .search-box-input {
        margin-right: 5px !important;
        width: 75%;
    }

    .search-box-icon {
        margin-top: 5px;
    }

    .image {

        width: 35px;
        height: 35px;
    }

    .img {
        width: 28px;
        height: 28px;
    }
}