.nav-container {
    padding: 0;
}

.header {
    height: 55px;
    padding: 7px 15px;
    background: #fff;
    z-index: 20;
    position: relative;
    box-shadow: 0 4px 15px 1px rgba(26, 26, 26, 0.4);
    box-sizing: border-box;
    position: relative;
}

.header-container {
    /* border: 1px solid red; */
    height: 40px;
    position: relative;
}

.container-fluid {
    /* border: 1px solid red; */
    padding: 0 !important;
}


.header-options {
    width: 75%;
    /* height: 100%; */
    float: right;
    box-sizing: border-box;
    /* border: 1px solid rgb(25, 0, 255); */
}


.menu {
    float: right;
}

.menu:hover {
    opacity: 0.5;
}

.menu-iconBox {
    /* border: 1px solid rgb(0, 255, 34); */
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    /* margin-top: 1%; */
    text-align: center;

    float: right;
}

.menu-icon {
    margin: auto;
}

a {
    vertical-align: middle;
}

.header-auth-box {
    /* border: 1px solid red; */

    margin-right: 15px;
    width: 10%;
    float: right;
}

.header-auth-icon {
    float: right;

}

.img {
    width: 35px;
    height: 35px;
}


.search-box {
    /* border: 1px solid rgb(129, 87, 87); */
    float: right;
    width: 55%;
}

.search-box-input {
    margin-top: 2px;
    width: 80%;
    height: 30px;
    float: right;
    border-radius: 100px;
    background-color: #f5f5f5;
}

.search-box-input:focus {
    border-color: rgb(219, 219, 219) !important;
}

.search-box-icon {
    float: right;
}

.image {

    width: 40px;
    height: 40px;
}













.header-icon {
    text-align: right;
    width: auto;
    top: 8px;
    position: relative;
    height: 33px !important;
}

.header-icon:hover {
    opacity: 1;
}


.profile-title {
    margin: 0 7px 0 0 !important;
    vertical-align: bottom !important;
    position: relative !important;
    font-size: 19px;
    display: inline-block;
    outline: none;
    text-decoration: none;
    color: black;
}


.header-logo {
    /* border: 1px solid red; */
    width: 132.5px;
    height: 40px;
    float: left;
}

.logoImg {
    width: 100%;
    height: 100%;
}

.a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.a:hover {
    opacity: 0.5;
}







.setting {
    border: 1px solid red;
    float: right;
    width: 40px !important;
    height: 40px !important;
    background: url('../../Assets/Images/header/setting.png') no-repeat 50% 50%;
    background-size: 35px;
    margin: 5px 0 0 -3px;
    display: block;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
    font-size: 35px;
}

.setting:hover {
    transform: rotate(45deg);
}


.enabled {
    animation: infiniteRotate 3s linear infinite;
}




@media (max-width: 768px) {
    .header {
        min-height: 70px !important;
        height: auto !important;
        padding: 0px !important;
        position: relative !important;
        z-index: 999;
    }

    .header-container {
        height: 150px !important;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.4);
    }

    .header-logo {
        height: 80px;
        float: none !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        position: relative !important;
        z-index: 9999999999;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.4);
    }

    .a {
        width: 132.5px !important;
        height: 50px !important;
        display: inline-block !important;
    }

    .header-options {
        margin: 2% 4%;
        /* border: 1px solid red; */
        width: 95%;
    }

    .header-auth-box {
        width: 18%;
    }

    .search-box {
        width: 70%;
    }


}

@media (max-width: 576px) {
    .header-auth-box {
        width: 22%;
    }

    .search-box {
        width: 65%;
    }

}

@keyframes infiniteRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .header-options {
        z-index: 55;
        position: relative !important;
        width: 100% !important;
        float: none !important;
        min-height: 70px;
        padding: 10px 10px 0px 10px;
        height: auto !important;
        background-color: #e6e6e6;
        text-align: right;
    } */

/* .header-options {
        z-index: 55;
        position: relative !important;
        width: 100% !important;
        float: none !important;
        min-height: 70px;
        padding: 10px 10px 0px 10px;
        height: auto !important;
        background-color: #e6e6e6;
        text-align: right;
    }

    */