.filter-container {
    height: 3.5rem;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
    box-sizing: border-box;
    position: relative;
}

.filter-title {
    font-size: 14px;
    line-height: 2;
    color: #929396;
}

.collapse-button {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}

.filter-card {
    transition: 0.7s;
    width: 25rem;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fafafa;
    z-index: 8;
    position: absolute;

}

.filter-card-item {
    border-bottom: 1px solid #e8e8e9;
}


.search-results-top {
    height: 60px;
}

.filter-badge {
    color: #929396;
    border-radius: 18px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

@media screen and (max-width:470px) {
    .search-results-title {
        margin-top: 1.2rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:375px) {
    .filter-card {
        width: 20rem;
    }

    .filter-badge {
        font-size: 0.7rem;
        height: 25px !important;
    }

    .search-results-title {
        font-size: 0.6rem;
    }
}