@tailwind base;
@tailwind components;
@tailwind utilities;
.ltr{
    direction: ltr;
}
@font-face {
    font-family: "XeroSans";
    src: url("./Assets/Font/XeroSansBlack/XeroSansBlack.ttf");
}
*{
    font-family: "XeroSans" !important;
}