.navBar-bg {
    background: #eeeeee !important;
    padding: 7px 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    z-index: 8;
    position: relative;
}

.a {
    border: none !important;
    border-radius: 0;
    color: #929396;
    font-size: small;
    font-weight: 600;
}

.bang {
    color: #4b4a4c !important;

}

.clipboard-button {

    margin: 0 10% 0 0;
    /* padding: 4px 13px 4px 11px; */
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.sortImg {
    width: 25px;
    height: 25px;
}

@media (max-width: 1200px) {
    .clipboard-button {
        margin: 0 4% 0 0;
    }
}

@media (max-width: 1200px) {
    .clipboard-button {
        margin: 0 1% 0 0;
    }
}